<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">bankApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink=""
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" ngbDropdownToggle
            >Admin</a
          >
          <div ngbDropdownMenu class="dropdown-menu">
            <a ngbDropdownItem class="dropdown-item" routerLink="clients"
              >Gestion des Clients</a
            >
            <a ngbDropdownItem class="dropdown-item" routerLink="comptes"
              >Gestion des Comptes
            </a>
            <a ngbDropdownItem class="dropdown-item">Gestion des Opétaions</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="collapse d-flex" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
